@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
    --primary-color: #00105c;
    --secondary-color: #001ea8;
    --tertiary-color: #ffd141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
