.transition-all {
    transition: all 0.5s;
}

.navbar {
    background-color: var(--cs-primary);
    border: 1px solid yellow;
}

.logo {
    height: 2.5rem;
}

.hamburger-menu {
    font-size: 2.5rem !important;
    color: var(--bs-white);
}

.logo:hover,
.hamburger-menu:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hamburger-menu:hover {
    color: var(--cs-secondary);
}
