.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.25rem 0;
    background-color: transparent;
    z-index: 70;
}

.logo {
    height: 2.5rem;
    margin-right: auto;
    transform: scale(1);
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.07);
}

.hamburger,
.close-menu {
    width: 3rem;
    margin-left: auto;
    cursor: pointer;
}

.hamburger {
    color: var(--white-color);
    visibility: visible;
    opacity: 1;
    transform: scale(1.8);
    transition: visibility 0, opacity 0.6s;
}

.hamburger:hover {
    color: var(--secondary-color);
    transform: scale(1.95);
}

.close-menu {
    width: auto;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    color: var(--light-color);
    visibility: hidden;
    z-index: 100;
    transform: scale(1.8);
    transition: all 0.5s;
}

.close-menu:hover {
    color: var(--secondary-color);
}

.menu {
    width: 12rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -12rem;
    background-color: var(--white-color);
    z-index: 95;
    transition: 0.5s;
}

.menu ul {
    width: 100%;
    position: absolute;
    top: 53px;
}

.menu ul li {
    padding: 0 5px;
}

.menu ul li a {
    font-weight: 300;
    display: block;
    padding: 10px 15px;
    color: var(--grey-color);
    background-color: transparent;
    border-bottom: 1px solid var(--light-color);
    transition: all 0.8s;
}

.menu ul li:last-of-type a {
    border-bottom: 0;
}

.menu ul li a.link-active {
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.menu ul li a:hover,
.menu ul li a.link-active:hover {
    font-weight: 300;
    color: var(--grey-color);
    background-color: var(--light-color);
}

.btn {
    border-radius: 1.5rem;
    border: 2px solid;
    font-weight: 500;
    cursor: pointer;
    transition: all 600ms;
}

.btn:hover {
    background-color: transparent;
}

.btn-primary {
    border-color: var(--primary-color);
}

.btn-secondary {
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    color: var(--primary-color);
}

.btn-secondary:hover {
    color: var(--white-color);
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-home01.jpg);
    background-size: cover;
    background-position-y: bottom;
    padding-top: 40vh;
}

.home .anchor {
    top: 0;
}

.presentation {
    width: 100%;
    max-width: 500px;
    height: 30vh;
    margin-right: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--white-color);
}

.presentation h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.presentation h3 {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.presentation h4 {
    font-size: 1.3rem;
    font-weight: 300;
}

.presentation .btn {
    max-width: 125px;
    margin-top: 2rem;
}

.about {
    width: 100%;
    background-color: var(--secondary-color);
    background-image: url(../img/shapes-background-about.png);
    background-size: cover;
}

.about .anchor {
    top: 100vh;
}

.div-image-carlos,
.div-about-carlos {
    height: 100vh;
    display: flex;
}

.div-image-carlos {
    justify-content: start;
    align-items: end;
}

.div-about-carlos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-about-carlos .page-title {
    border: 0;
    color: rgba(0, 0, 0, 0.65);
}

.image-about-carlos {
    width: 85%;
}

.about .card {
    width: 70%;
    background-color: transparent;
    border-width: 0;
}

.about .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .card-title {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
}

.about .card-text {
    height: auto;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.5s;
}

.about .card-text.slide-active {
    opacity: 1;
    visibility: visible;
}

.buttons-slides-about {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-slide-about {
    background-color: var(--white-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    cursor: pointer;
}

.button-slide-about.slide-selected {
    background-color: var(--secondary-color);
}

.skills,
.skills::after {
    width: 100%;
    height: 100vh;
}

.skills::after {
    content: "";
    background-image: url(../img/bg-skills.png);
    background-size: cover;
    opacity: 0.07;
    position: absolute;
    top: 200vh;
    left: 0;
    z-index: -1;
}

.skills .anchor {
    top: 200vh;
}

.skills .row {
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills-languages {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.75rem;
    padding-bottom: 1rem;
}

.skills-languages .card {
    min-width: 125px;
    padding: 0.5rem;
    opacity: 0.7;
    transition: opacity 700ms;
}

.skills-languages .card:hover,
.skills-languages .card img,
.skills-languages .card .card-text {
    opacity: 1;
    cursor: default;
}

.skills-languages .card:last-of-type:hover,
.skills-languages .card:last-of-type img,
.skills-languages .card:last-of-type .card-text {
    cursor: pointer;
}

.skills-languages .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0;
}

.modal-skills .card {
    background-color: transparent;
    border-radius: 0;
}

.modal-skills .card:hover {
    background-color: var(--light-color);
    cursor: default;
}

.skills-languages .card img,
.modal-skills .card img {
    width: 75%;
    margin: auto;
}

.skills-languages .card:last-of-type img {
    width: 40%;
}

.skills-languages .card-text,
.modal-skills .card-text {
    text-align: center;
    font-weight: 500;
    margin-top: auto;
    color: var(--primary-color);
}

.skills .page-title {
    border-color: var(--white-color);
    color: var(--white-color);
    opacity: 1;
    transition: opacity 500ms;
}

.skills .page-title:hover {
    cursor: default;
    opacity: 0.8;
}

.modal-skills .modal-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.modal-skills .card {
    width: 30%;
    margin-bottom: 1.5rem;
    border: 0;
}

.modal-skills .modal-footer .btn {
    background-color: var(--grey-color);
    color: var(--white-color);
}

.modal-skills .modal-footer .btn:hover {
    background-color: #999;
    cursor: pointer;
}

.projects {
    width: 100%;
    background-image: url(../img/bg-projects.jpg);
    background-size: cover;
}

.projects .col-6 {
    height: 100vh;
}

.projects .anchor {
    top: 300vh;
}

.projects .page-title {
    color: var(--light-color);
}

.my-projects {
    width: 94%;
    max-width: 400px;
    justify-content: space-between;
}

.my-projects .carousel-slides {
    width: 400%;
}

.my-projects .first {
    margin-left: 0;
    transition: 1s;
}

.my-projects .card {
    padding: 1rem 0;
    justify-content: space-between;
}

.my-projects .card-title {
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--grey-color);
}

.my-projects .card-body {
    margin: 0;
    padding: 0;
}

.my-projects .carousel-item img {
    width: 100%;
}

.my-projects .card-footer .btn {
    margin: 0 auto;
    display: block;
}

.contact {
    width: 100%;
    height: 100vh;
    background-image: url(/src/img/bg-home05.jpg);
    background-size: cover;
    border: 1px solid grey;
}

.contact .anchor {
    top: 400vh;
}

/*--------------------- Animações ---------------------*/
[data-header],
[data-menu] {
    transition: 1s;
}

[data-header].animate-header {
    background-color: var(--primary-color);
    padding: 0.25rem 0;
    z-index: 90;
}

[data-header].animate-logo-header {
    transform: scale(0.5);
}

[data-header].animate-logo-header:hover {
    transform: scale(0.6);
}

[data-header].animate-hamburger-header {
    transform: scale(1.2);
    padding: 0;
}

[data-header].animate-hamburger-header:hover {
    transform: scale(1.35);
}

.show-menu .hamburger {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.show-menu .close-menu {
    opacity: 1;
    visibility: visible;
}

.show-menu .menu {
    right: 0;
}
